@import "@fontsource-variable/rubik";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Rubik Variable", sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333 #1e1e1e;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}
